@model FrontEnd.Models.RanchitoViewModel

@{
    ViewData["Title"] = "Crear Ranchito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear ranchito</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Desc" class="control-label">Descripcion</label>
                <input asp-for="Desc" class="zen-input mt-2 w-100" placeholder="Inserte una descripción" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="variant-primary w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
