@{
    ViewData["Title"] = "Reservaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container-fluid">

        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img  src="~/assets/img/gallery/reservacioneventos.jpg" class="img-fluid" alt="">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a asp-controller="ReservacionEvento" asp-action="Index">ReservacionEvento</a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="~/assets/img/gallery/reservacionmesa.jpg" class="img-fluid" alt="">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a asp-controller="ReservacionMesa" asp-action="Index">ReservacionMesa</a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img style="height:205px;width:300px" src="~/assets/img/gallery/reservacionranchito.jpg" class="img-fluid" alt="">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a asp-controller="ReservacionRanchito" asp-action="Index">ReservacionRanchito</a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img style="height:205px" src="~/assets/img/gallery/reservaciontennis.jpg" class="img-fluid" alt="">
                    <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a asp-controller="ReservacionTennis" asp-action="Index">ReservacionTennis</a>
                    </div>
                </div>
            </div><!-- End Gallery Item -->
        </div>

    </div>
</section><!-- End Gallery Section -->