@model FrontEnd.Models.ReservacionRanchitoViewModel

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agregar</h1>

<h4>Reservacion Ranchito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdReservacionRanchito" class="control-label"></label>
                <input asp-for="IdReservacionRanchito" class="zen-input mt-2 w-100" />
                <span asp-validation-for="IdReservacionRanchito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRanchito" class="control-label"></label>
                <input asp-for="IdRanchito" class="zen-input mt-2 w-100" />
                <span asp-validation-for="IdRanchito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="zen-input mt-2 w-100" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" class="zen-input mt-2 w-100" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="variant-primary w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

